# персональные ресурсы БД
DB_DESTINATION_HOST=rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net
DB_DESTINATION_IP=10.129.0.23
DB_DESTINATION_PORT=6432
DB_DESTINATION_NAME=playground_mle_20260306_f5465b0629
DB_DESTINATION_USER=mle_20260306_f5465b0629_freetrack
DB_DESTINATION_PASSWORD=<...> # заполнить

# персональные ресурсы S3
MLFLOW_S3_ENDPOINT_URL=https://storage.yandexcloud.net
S3_BUCKET_NAME=s3-student-mle-20260306-f5465b0629-freetrack/Sprint-5/Project
AWS_ACCESS_KEY_ID=YCAJE3Nlz8iDILW5VTYM1ihQB
AWS_SECRET_ACCESS_KEY=<...> # заполнить

# mlflow server
TRACKING_SERVER_HOST=127.0.0.1
TRACKING_SERVER_PORT=5000